<div class='container'>
	<div class='contains_post color-grey col-md-9'>

		{{!-- <div class='row'> --}}

				<div class='head-div'>
					<p class='post-title'>{{title}}</p>
					<p class='post-uploader'>by {{uploadedBy}}</p>
				</div>

		{{!-- </div> --}}

		{{!-- <div class='row'> --}}

				<div class="image-div">
						{{#if imageURL}}
							<img {{bind-attr src='imageURL'}} class='post-img'></img>
						{{else}}
							<h2> LOADING </h2>
						{{/if}}
				</div>

		{{!-- </div> --}}

		{{!-- <div class='row'> --}}

				<div class="well well-sm desc-div">
						{{description}}
				</div>

		{{!-- </div> --}}

		{{!-- <div class='row'> --}}

				<div class="stats-div">
					<p>Tags: {{tagList}}</p>
					<p>Upvotes: {{numUpvotes}} | Downvotes: {{numDownvotes}}</p>
					<p> Favorited: {{isFavorite}}</p>
				</div>

		{{!-- </div> --}}

	</div>
</div>
