<div class='container-fluid'>
	<div class='post-container color-grey col-md-6'>

				<div class='head-div'>
					<p class='post-title'>{{title}}</p>
					<p class='post-uploader'>by {{uploadedBy}}</p>
				</div>

				<div class="image-div">
						{{#if imageURL}}
							<img {{bind-attr src='imageURL'}} class='post-img'></img>
						{{else}}
							<h2> LOADING </h2>
						{{/if}}
				</div>

				<div class="well well-sm desc-div">
						{{description}}
				</div>

	
				<div class="stats-div">
					<span class='glyphicon glyphicon-chevron-up stats-icon'></span>
					<span class='glyphicon glyphicon-chevron-down stats-icon'></span>
					<span class='glyphicon glyphicon-heart stats-icon'></span>
					<span>VoteBar</span>

					<p>Tags: {{tagList}}</p>
					<p>Upvotes: {{numUpvotes}} | Downvotes: {{numDownvotes}}</p>
					<p> Favorited: {{isFavorite}}</p>
				</div>

	</div> {{!-- End post-container --}}

	<div class='col-sm-4 side-gallery'>
		This will have buttons, and random posts. 
	</div> {{!-- End side-gallery --}}

</div>
