<div class='container-fluid'>
	<div class='post-container color-grey col-md-6 col-md-offset-1'>

		<div class='head-div'>
			<h4 class='post-title'>{{title}}</h4>
			<p class='post-uploader'>by {{#link-to 'user.show' user}}{{uploadedBy}}{{/link-to}}</p>
		</div>

		<div class="image-div">
				{{#if imageURL}}
					<img {{bind-attr src='imageURL'}} class='post-img'></img>
				{{else}}
					<h2> LOADING </h2>
				{{/if}}
		</div>

		<div class="well well-sm desc-div">
				{{description}}
		</div>

		<div class="stats-div">
			<div class='vote-div'>
				<div class='glyphicon glyphicon-chevron-up stats-icon'></div>
				<div class='glyphicon glyphicon-chevron-down stats-icon'></div>
			</div>


			<div class='glyphicon glyphicon-heart stats-icon '></div>

			<div class="popularity-div text-center color-grey">

				<div class='points-text color-grey'> {{numPoints}} points </div>

				<div class="progress popularity-bar">
				  <div id= "upvoteBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow="percentValue" style="popularity"}}>
				    <span class="sr-only"></span>
				  </div>
				</div>
			</div> {{!-- End popularity-div --}}

			<div class='tags-div color-grey'>
				<span class='glyphicon glyphicon-tag tag-icon vcenter'></span>
				<div class='tag-text'>
					<div class='tag-list'>
						{{#each tag in tags}}
							{{tag}},
						{{/each}}
					</div><br />
					<div class='recommend-tags'>Recommend Tags</div>
				</div>
			</div>
		</div> {{!-- End stats-div --}}


		{{!-- <div class='submit-comment'> --}}
		{{!-- This is temporary --}}
			{{input type='text' class='well well-sm submit-comment' placeholder="Submit a comment... "}}
		{{!-- </div> --}}


		<p> Favorited: {{isFavorite}}</p>

		{{!-- <ul class='comment-list'> --}}
			{{#each comment in comments}}
				{{!-- <li class='comment-list-item'> {{render "comment" comment}}</li> --}}
				{{render "comment" comment}}
			{{/each}}

		{{!-- </ul> --}}
	
	</div> {{!-- End post-container --}}

	<div class='col-sm-4 side-gallery'>
		<div class='row buttons-row'>
			<!-- Next/Prev -->
			<div class='col-md-6 col-md-offset-1 prev-next'>
				<div class='col-sm-6 text-center button-div'>
					<div class='previous-button'>Prev</div>
				</div>
				<div class='col-sm-6 text-center button-div'>
					<div class='next-button'>Next</div>
				</div>
			</div>

			<!-- Browse -->
			<div class='col-md-3 col-md-offset-1 text-center button-div'>
				<button class='browse-button'>Browse</button>
			</div>
		</div>
	</div> {{!-- End side-gallery --}}

</div>
