<div class='container-fluid'>
	<div class='post-container color-grey col-md-6 col-md-offset-1'>

				<div class='head-div'>
					<h4 class='post-title'>{{title}}</h4>
					<p class='post-uploader'>by {{#link-to 'user.show' user}}{{uploadedBy}}{{/link-to}}</p>
				</div>


				<div class="image-div">
						{{#if imageURL}}
							<img {{bind-attr src='imageURL'}} class='post-img'></img>
						{{else}}
							<h2> LOADING </h2>
						{{/if}}
				</div>

				<div class="well well-sm desc-div">
						{{description}}
				</div>

				<div class="stats-div">
					<span class='glyphicon glyphicon-chevron-up stats-icon'></span>
					<span class='glyphicon glyphicon-chevron-down stats-icon'></span>
					<span class='glyphicon glyphicon-heart stats-icon'></span>
					<span>VoteBar</span>

					<p>Tags: {{tagList}}</p>
					<p>Upvotes: {{numUpvotes}} | Downvotes: {{numDownvotes}}</p>
					<p> Favorited: {{isFavorite}}</p>
						<div class="progress popularity-bar col-md-2">

						  <div class="progress-bar progress-bar-success" role="progressbar" title= "22 likes" {{bind-attr style="popularity"}}>
						    <span class="sr-only">60% Complete</span>
						  </div>

						</div>

				</div> {{!-- End stats-div --}}

	</div> {{!-- End post-container --}}

	<div class='col-sm-4 side-gallery'>
		This will have buttons, and random posts. 
	</div> {{!-- End side-gallery --}}

</div>
