<div class='container contains_post'>
	<div class='head-div'>
		<h2>{{title}}</h2>
		<p>by {{uploadedBy}}</p>
	</div>

	<div class="image-div">
			{{#if imageURL}}
				<img {{bind-attr src='imageURL'}}></img>
			{{else}}
				<h2> LOADING </h2>
			{{/if}}
	</div>

	<div class="desc-div">
			<p>{{description}}</p>
	</div>

	<div class="stats-div">
		<p>Tags: {{tagList}}</p>
		<p>Upvotes: {{numUpvotes}} | Downvotes: {{numDownvotes}}</p>
		<p> Favorited: {{isFavorite}}</p>
	</div>

	<h4> comments: </h4>
		<ul> 
			{{#each comment in comments}}
				<li>{{comment.body}}</li>
				<ul>
					{{#each child in comment.children}}
					<li>Child: {{child.body}}</li>
					{{/each}}
				</ul>
			{{/each}}
		</ul>
</div>

